@charset "utf-8";/* CSS Document */

ol,ul,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,form,input,textarea,select {

    margin: 0;

    padding: 0

}



h1,h2,h3,h4,h5,h6 {

    font-size: 0%;

    font-weight: normal;

    line-height: 0%

}



img {

    border: 0;

    vertical-align: middle

}



em {

    font-style: normal

}



li {

    list-style: none

}



em,i {

    font-style: normal

}



textarea,input {

    background: none;

    border: none;

}



a {

    color: #666;

    text-decoration: none;

}



* {

    padding: 0;

    margin: 0;

    list-style: none;

    text-decoration: none;

    font-weight: normal;

    color: #333;

}



html {

    width: 100%;

    height: 100%;

    font: 16px/16px 'Microsoft Yahei';

}



body {

    font: 16px/16px 'Microsoft Yahei';

    /*position:relative;*/

}



a,button,input,optgroup,select,textarea {

    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

    outline: none;

    /*去掉a、input和button点击时的蓝色外边框和灰色半透明背景*/

    border: 0

}



input[type=”button”],input[type=”submit”],input[type=”reset”] {

    -webkit-appearance: none;

    /*去掉苹果默认样式*/

}

input::-webkit-input-placeholder { /* WebKit browsers */ 



color: #2a30c2; 



} 



input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */ 



color: #2a30c2; 



} 



input::-moz-placeholder { /* Mozilla Firefox 19+ */ 



color: #2a30c2; 



} 



input:-ms-input-placeholder { /* Internet Explorer 10+ */ 



color: #2a30c2; 



} 

select {

    -webkit-appearance: none;

    /*兼容苹果手机*/

    border: none;

    background-color: transparent;

}



input::-webkit-input-placeholder {

    font-size: 0.24rem;

}



input {

    font-size: .3rem;

}



/*body{}*/

.clearfix {*zoom: 1}



.clearfix:after {

    visibility: hidden;

    clear: both;

    display: block;

    content: ".";

    height: 0

}
.zg_wrapper {
    max-width: 720px;
    min-width: 320px;
    margin: 0 auto;
    height: 100%;
    background: url(../images/body_bk.jpg) no-repeat center top;
    background-size: 7.2rem 100%;
    position: relative;
}
.fixedbot {

    max-width: 750px;

    min-width: 320px;

    width: 7.5rem;

    height: 1.5rem;

    display: block;

    position: absolute;

    bottom: 0;

    background: url(../images/wap_fixbot.png) bottom center;

    background-size: 7.5rem 1.5rem;

}

.fl {

    float: left;

}



.fr {

    float: right;

}



/*con*/

.top {

    display: -webkit-flex;

    display: -moz-flex;

    display: -ms-flex;

    display: -o-flex;

    display: flex;

    background: #fff;

}

.register_btn {

    width: 50%;

    height: .8rem;

    color:#000;

    font:400 .3rem/.8rem "microsoft yahei";

    text-align: center;

}

.login_btn {

    width: 50%;

    height: .8rem;

    color:#2a30c2;

    font:400 .3rem/.8rem "microsoft yahei";

    text-align: center;

}

.lginsecc {

    width: 7.2rem;
    text-align: center;
    height: .8rem;
    line-height: .8rem;
    /*float: right;*/
    color: #ff0000;
    display: none;
    font-size: .3rem;
    padding-right: .2rem;
    background: #fff;
    position: relative;

}



.lginsecc span {

	color: red;

}



.lginsecc a {

	color: #000;

	margin-left: .15rem;

}





.home_con {

    padding-top: .45rem;

}

.home_title {

    width: 6.2rem;

    margin: 0 auto;

    text-align: center;

    margin-bottom: .45rem;

}



.home_title img {

    width: 5.46rem;

    height: 2.05rem;

    vertical-align: middle;

}



.user-box {

    width: 5.46rem;

    margin: 0 auto;

}

.user-item-on {

    float: left;

    width: 2.66rem!important;

    height: .8rem!important;

    background: url(../images/input_bg.png) no-repeat center!important;

    -webkit-background-size: 2.66rem!important;

    background-size: 2.66rem!important;

    

}

.user-item-on.user-item-on-oo {

    margin-right: .14rem;

}

.user-box .user-item {

     height: 0.8rem; 

    width: 100%;

    margin-bottom: .1rem;

    display: flex;

    display: -webkit-flex;

    flex-direction: row;

    flex-wrap: nowrap;

    justify-content: flex-start;

    background: #fff;

    border-radius: 0.4rem;

    box-sizing:border-box;

    box-shadow: .02rem .03rem .1rem rgba(0,0,0,0.3);

}



.user-box .user-item label {

    display: inline-block;

    width: 1.3rem;

    height: 0.8rem;

}



.user-box .user-item label img {

    display: block;

    margin: 0 auto;

    padding-top: 0.14rem;

    width: 0.46rem;

    height: 0.46rem;

}



.user-box .user-item select {

    width: 2rem;

    height: 0.8rem;

    line-height: 0.8rem;

    font-size: 0.3rem;

    color: #737373;

    margin-left: .33rem;

}

.user-box .user-item.user-item-on-S select {

    width: 4.79rem;

    margin-left: .33rem;

}

.user-box .user-item.user-item-1 {

    position: relative;

    font-size: .3rem;

}

.user-item-on-S {

    background: url(../images/input_bg_S.png) no-repeat center!important;

    -webkit-background-size: 5.46rem!important;

    background-size: 5.46rem!important;

}

.user-content {

    padding-left: .33rem;

    color:#737373;

}

.item_check {

    position: absolute;

    top: 0.05rem;

    right: 0.05rem;

    /*border: 2px solid #c4c4c4;*/

    color: #fff;

    font-size: 0.26rem;

    cursor: pointer;

    width: 1.82rem;

    height: .7rem;

    background: #c3c3c3;

    padding-left: 0.55rem;

    border-radius: 0.35rem;

    line-height: 0.7rem;

    transition: all 0.2s;

    text-indent: 1em;

    box-sizing:border-box;

}



.item_check span {

    display: block;

    width: .6rem;

    height: .6rem;

    background: url(./../images/circle.png) no-repeat center center;

    background-size: 0.6rem 0.6rem;

    position: absolute;

    left: 0.05rem;

    top: 0.05rem;

    transition: all 0.2s;



}



.item_check.active {

    background: #2a30c2;

    padding-left: 0.2rem;

    width: 1.82rem;

}



.item_check.active span {

    left: 1.18rem;

}



.user-box .user-item.user-item-2 {

    background: none;

    border: none;

}



.user-box .user-item.user-item-2 button {

    background: #ffed14;

    height: 0.8rem;

    line-height: 0.8rem;

    width: 100%;

    border-radius: 0.45rem;

    cursor: pointer;

    color: #2a30c2;

    font-size: 0.3rem;

    box-shadow: 0px 3px 10px rgba(41,48,188,1);
    font-weight: bold;

}



.com {

    color: #93a1a1;

}



.lit {

    color: #195f91;

}



.pun,.opn,.clo {

    color: #93a1a1;

}



.fun {

    color: #dc322f;

}



.str,.atv {

    color: #D14;

}



.kwd,.linenums .tag {

    color: #1e347b;

}



.typ,.atn,.dec,.var {

    color: teal;

}



.pln {

    color: #48484c;

}



.prettyprint {

    padding: 8px;

    background-color: #f7f7f9;

    border: 1px solid #e1e1e8;

}



.prettyprint.linenums {

    -webkit-box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0;

    -moz-box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0;

    box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0;

}



ol.linenums {

    margin: 0 0 0 33px;

}



ol.linenums li {

    padding-left: 12px;

    color: #bebec5;

    line-height: 18px;

    text-shadow: 0 1px 0 #fff;

}



.typeahead {

    margin-top: 2px;

    -webkit-border-radius: 4px;

    -moz-border-radius: 4px;

    border-radius: 4px;

}



.dropdown-menu {

    position: absolute;

    top: 100%;

    left: 0;

    z-index: 1000;

    display: none;

    float: left;

    min-width: 160px;

    padding: 5px 0;

    margin: 2px 0 0;

    list-style: none;

    background-color: #ffffff;

    border: 1px solid #ccc;

    border: 1px solid rgba(0, 0, 0, 0.2);

    *border-right-width: 2px;

    *border-bottom-width: 2px;

    -webkit-border-radius: 6px;

    -moz-border-radius: 6px;

    border-radius: 6px;

    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);

    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);

    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);

    -webkit-background-clip: padding-box;

    -moz-background-clip: padding;

    background-clip: padding-box;

}



.dropdown-menu a {

    display: block;

    padding: 3px 20px;

    clear: both;

    font-weight: normal;

    line-height: 20px;

    color: #333333;

    white-space: nowrap;

}

.www {
    /*position: fixed;*/
    width: 7.2rem;
    background: #eeeeee;
    height:100%;
}

.databack {

    height: .8rem;

    background: #fff;

    font:700 .3rem/.8rem "microsoft yahei";

    color:#2a30c2;

}

.scrollfixed {

    position: fixed;

    width: 100%;

}

.databack img {

    width: .97rem;

    height: .29rem;

    margin-left: .2rem;

}

.datatip {

    height: 1.24rem;

}

.datatip h3 {

    font:700 .36rem/.36rem "microsoft yahei";

    color:#2a30c2;

    text-align: center;

    padding-top: .26rem;

    margin-bottom: .14rem;

}

.datatip p {

    font:400 .26rem/.26rem "microsoft yahei";

    color:#2a30c2;

    text-align: center;

}

.table_wrap {

    width: 6.8rem;

    margin: 0 auto;

    padding-bottom: .3rem;

}

.my_table {

    width: 100%;

    border: 1px solid #333;

    text-align: center;

    border-collapse: collapse;

    border-radius: 0.1rem;

    overflow: hidden;

    box-shadow: 0px 3px 10px rgba(42,48,194,0.4);

}



.my_table tr {

    cursor: pointer;

}



.my_table th {

    height: .6rem;

    background: #2a30c2;

    color: #fff;

    font-size: .26rem;

}



.my_table th.th1 {

    width: 1.7rem;

}



.my_table th.th2 {

    width: 1.7rem;

}



.my_table th.th3 {

    width: 1.7rem;

}

.my_table th.th4 {

    width: 1.7rem;

}

.my_table tr:nth-child(n){

    background: #fff;

}

.my_table tr:nth-child(2n){

    background: #f4f4f4;

}

.my_table td {

    line-height: 0.4rem;

    padding: 0.1rem 0;

    color: #000;

    font-size: 0.2rem;

}

.my_table td a {

    display: block;

    margin: 0 auto;

    width: 1.4rem;

    height: .44rem;

    border-radius: .22rem;

    color: #fff;

    font-size: .26rem;

    font-weight: bold;

    text-align: center;

    background: #2a30c2;

    line-height: .44rem;

}



.zg_direction {

    width: 6.4rem;

    background: #fff;

    position: fixed;

    left: 50%;

    top: 50%;

    margin-left: -3.4rem;

    margin-top: -2.6rem;

    padding:.2rem;

    border-radius: 0.3rem;

    z-index: 9999;

}



.zg_direction h6 {

    text-align: center;

    line-height: 0.3rem;

    font-size: .3rem;

    font-weight: bold;

    color: #2a30c2;

}



.direction_list {

    padding-top: 0.18rem;

}



.direction_list li {

    text-indent: 2em;

    line-height: 0.3rem;

    font-size: 0.24rem;

    margin-bottom: 0.1rem;

    color:#000;

}



.direction_list li a {

    font-weight: bold;

    color: #2a30c2;

}



.direction_close {

    width: 0.3rem;

    height: 0.3rem;

    background: url(./../images/close.png) no-repeat center center;

    background-size: 100% 100%;

    cursor: pointer;

    position: absolute;

    right: 0.05rem;

    top: 0.05rem;

    z-index: 99999;

}



.container {

    width: 6.8rem;

    position: fixed;

    left: 50%;

    top: 35%;

    margin-left: -3.4rem;

    margin-top: -1.9rem;

    z-index: 9999;

    padding: 0.06rem 0 0.16rem;

    background: #2a30c2;

    border-radius: 0.15rem;

    display: none;

}



.bd_close {

    width: 0.46rem;

    height: 0.46rem;

    background: url(./../images/close.png) no-repeat center center;

    background-size: 100% 100%;

    cursor: pointer;

    position: absolute;

    right: .34rem;

    top: -.78rem;

}



.direction_know {

    display: block;

    width: 6.2rem;

    height: .8rem;

    border-radius: .4rem;

    background: #2a30c2;

    text-align: center;

    font-size: .3rem;

    color: #fff;

    font-weight: bold;

    line-height: .8rem;

    margin: .3rem auto 0;

    cursor: pointer;

    letter-spacing: 2px;

}



.bd_nav {

    height: 0.6rem;

    border-bottom: 1px solid #fff;

    padding: 0 0.53rem;

    display: flex;

    display: -webkit-flex;

    flex-direction: row;

    flex-wrap: nowrap;

    justify-content: space-between;

}



.bd_nav span {

    width: 2.1rem;

    display: block;

    margin: 0 0.3rem;

    line-height: 0.6rem;

    font-size: 0.3rem;

    color: #fff;

    float: left;

    text-align: center;

    cursor: pointer;

}



.bd_nav span.active {

    border-bottom: 2px solid #fff;

    position: relative;

    top: 1px;

    color: #fff;

    font-weight: bold;

}



.container .agileits {

    width: 6.2rem;

    margin: 0 auto;

    padding-top: 0.4rem;

    display: none;

}



.container .agileits .bd_line_wrap {

    width: 6.2rem;

    height: 0.8rem;

    background: url(./../images/input_bk.png) no-repeat center center;

    background-size: 100% 100%;

    margin: 0 auto;

    margin-bottom: 0.25rem;

}



.container .agileits .bd_line_wrap input {

    width: 100%;

    height: 100%;

    box-sizing:border-box;

    padding-left: .33rem;

    color:#000;

    font-size: .2rem;

}



.yzm_wrap {

    width: 100%;

    position: relative;

}



.yzm_wrap .yzm_btn,#daojishi {

    width: 1.4rem;

    height: .7rem;

    color: #fff;

    position: absolute;

    right: 0.05rem;

    top: .05rem;

    text-align: center;

    line-height: .7rem;

    font-size: 0.26rem;

    transition: all 1s;

    background: #2a30c2;

    border-radius: .35rem;

}



.yzm_wrap #daojishi {

    display: none;

    font-size: 0.16rem;

}



.container .agileits .bd_line_wrap.send_button {

    background: none;

    background: #ffed14;

    border-radius: 0.4rem;

}



.container .agileits .bd_line_wrap.send_button input.submintBtn {

    width: 6.2rem;

    padding: 0;

    height: 0.8rem;

    color: #2a30c2;

    text-align: center;

    border-radius: 0.4rem;

    cursor: pointer;

    font-size: 0.26rem;

    font-weight: bold;

    box-shadow: 0 3px 10px #2a30c2;

}



.result_tip {

    font-size: 0.22rem;

    text-align: center;

    color: #c6143f;

    line-height: 0.5rem;

    font-weight: bold;

}



#slideshow {

    position: relative;

    height: 350px;

    z-index: -1

}



#slideshow img {

    position: absolute;

    top: 0;

    left: 0;

    z-index: 8;

    opacity: 0;

}



#slideshow img.active {

    z-index: 10;

    opacity: 1

}



#slideshow img.last-active {

    z-index: 9

}



#slideshow img {

    min-height: 100%;

    min-width: 1024px;

    width: 100%;

    height: auto;

    position: fixed;

    top: 0;

    left: 0

}



@media screen and (max-width: 1024px) {

    img.bg {

        left: 50%;

        margin-left: -512px

    }

}



.zg_cover {

    width: 100%;

    height: 100%;

    position: fixed;

    left: 0;

    top: 0;

    bottom: 0;

    right: 0;

    background: rgba(0, 0, 0, 0.6);

    z-index: 9998;

}



.detail_wrap {

    width: 5.45rem;

    position: fixed;

    left: 50%;

    margin-left: -2.72rem;

    top: 15%;

    z-index: 99999;

    border-radius: .12rem;

    background: #fff;

    display: none;

    padding-bottom: .3rem;

    box-shadow: 0px 3px 10px #555;

}

.detail_wrap h4 {

    height: .36rem;

    line-height: .36rem;

    font-size: .36rem;

    font-weight: bold;

    color:#2a30c2;

    text-align: center;

    padding-top: .25rem;

    padding-bottom: .2rem;

}

.detailtable {

    width: 5.04rem;

    margin: 0 auto;

    border-collapse: collapse;

    text-align: center;

}

.detailtable tr td {

    border: 1px solid #2a30c2;

    /* height: .4rem; */

    padding: .07rem;

    line-height: .28rem;

}

.detailtable tr td:first-child {

    width: 1.5rem;

    font-size: .24rem;

    font-weight: bold;

    color:#2a30c2;

}

.detailtable tr td:last-child {

    font-size: .24rem;

    color:#151515;

}

.zwxqBack {

    width: 1.35rem;

    height: .44rem;

    background: #2a30c2;

    border-radius: .22rem;

    text-align: center;

    color:#fff;

    font-weight: bold;

    margin: .2rem auto 0;

    line-height: .44rem;

}

.fixb {

	position: fixed;

	width: 130px;

	height: 236px;

	right: 0;

	top: 50%;

	margin-top: -115px;

	background: url(../images/fixr.gif) no-repeat;

}



.fixb a {

	display: inline-block;

	width: 63px;

	height: 70px;

	margin-top: 164px;

}



.tc {

	position: fixed;

	width: 5.32rem;

	height: 3.6rem;

	left: 50%;

	top: 50%;

	margin-top: -1.8rem;

	margin-left: -2.66rem;

	background: url(http://gs.offcn.com/zg/zwppcx/images/tc.png) no-repeat;

	display: none;

	z-index:99999;

}



.tc a {

	position: absolute;

	width: 1rem;

	height: .8rem;

	bottom: .45rem;

	left: 1.4rem;

}



.tc .hl {

	left: 2.8rem;

	width: 1rem;

}



.tc span {

	position: absolute;

	width: 60px;

	height: 60px;

	top: 15px;

	right: 27px;

	cursor: pointer;

}
.data {
    color:#000;
    font-weight: bold;
    font-style: italic;
    font-size: .26rem;
    margin-left: .1rem;
    margin-right: .1rem;
}
